services/saveusservice.wsdl

<wsdl:definitions xmlns:tns="http://194.116.110.126:81/ws/" targetNamespace="http://194.116.110.126:81/ws/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
	<wsdl:types>
		<s:schema targetNamespace="http://194.116.110.126:81/ws/">
			<s:complexType name="processtype">
				<s:sequence>
					<s:element name="process">
						<s:complexType>
							<s:sequence>
								<s:element name="level" maxOccurs="unbounded" minOccurs="0">
									<s:complexType>
										<s:sequence>
											<s:element name="action">
												<s:complexType>
													<s:sequence>
														<s:element type="s:string" name="mailaddress"/>
														<s:element type="s:string" name="mailbody"/>
													</s:sequence>
													<s:attribute type="s:int" name="id" use="optional"/>
												</s:complexType>
											</s:element>
										</s:sequence>
										<s:attribute type="s:int" name="id" use="optional"/>
									</s:complexType>
								</s:element>
							</s:sequence>
						</s:complexType>
					</s:element>
				</s:sequence>
			</s:complexType>
		</s:schema>
	</wsdl:types>
	<wsdl:message name="getProcessSoapIn">
		<wsdl:part name="id" type="s:string"/>
	</wsdl:message>
	<wsdl:message name="getProcessSoapOut">
		<wsdl:part name="return" type="tns:processtype"/>
	</wsdl:message>
	<wsdl:message name="setAccidentSoapIn">
		<wsdl:part name="time" type="s:string"/>
		<wsdl:part name="longitude" type="s:string"/>
		<wsdl:part name="latitude" type="s:string"/>
		<wsdl:part name="onbehalf" type="s:string"/>
	</wsdl:message>
	<wsdl:message name="setAccidentSoapOut">
		<wsdl:part name="return" type="s:string"/>
	</wsdl:message>
	<wsdl:message name="sendMailSoapIn">
		<wsdl:part name="message" type="s:string"/>
		<wsdl:part name="address" type="s:string"/>
	</wsdl:message>
	<wsdl:message name="sendMailSoapOut">
		<wsdl:part name="return" type="s:string"/>
	</wsdl:message>
	<wsdl:portType name="SaveusServiceSoap">
		<wsdl:operation name="getProcess">
			<wsdl:documentation>
                This method get a user process
			</wsdl:documentation>
			<wsdl:input message="tns:getProcessSoapIn"/>
			<wsdl:output message="tns:getProcessSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="setAccident" parameterOrder="time longitude latitude">
			<wsdl:documentation>
                This method store an accident
			</wsdl:documentation>
			<wsdl:input message="tns:setAccidentSoapIn"/>
			<wsdl:output message="tns:setAccidentSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="sendMail" parameterOrder="message address">
			<wsdl:documentation>
                This method send a mail
			</wsdl:documentation>
			<wsdl:input message="tns:sendMailSoapIn"/>
			<wsdl:output message="tns:sendMailSoapOut"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SaveusServiceSoap" type="tns:SaveusServiceSoap">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
		<wsdl:operation name="getProcess">
			<soap:operation soapAction="http://194.116.110.126:81/ws/getProcess"/>
			<wsdl:input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://194.116.110.126:81/ws/" parts="id"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://194.116.110.126:81/ws/" parts="return"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="setAccident">
			<soap:operation soapAction="http://194.116.110.126:81/ws/setAccident"/>
			<wsdl:input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://194.116.110.126:81/ws/" parts="time longitude latitude"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://194.116.110.126:81/ws/" parts="return"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="sendMail">
			<soap:operation soapAction="http://194.116.110.126:81/ws/sendMail"/>
			<wsdl:input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://194.116.110.126:81/ws/" parts="message address"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://194.116.110.126:81/ws/" parts="return"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SaveusService">
		<wsdl:port name="SaveusServiceSoap" binding="tns:SaveusServiceSoap">
			<soap:address location="http://194.116.110.126:81/ws/saveusservice.php"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>